*{
margin: 0;
}

div section{
    background-color: rgb(230, 197, 225);
}


/* para sinalizar que eu vou chamar um id o nome dever vir acompanhado no início pelo jogo da velha (#) */

#div1{
    background-color: lightblue;
}

#div2{
    background-color: lightpink;
}

/* para sinalizar que eu vou chamar uma class o nome deve vir acompanhado no inicio pelo ponto final */
/* aplicar o mesmo estilo CSS para varias tags diferentes */

.estiloTitulo{
    text-shadow: 5px 5px 5px  ;
}